@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.7);

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }

  .material-icons {
    font-size: 18px;
  } 
}

@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}